.notificationError {
  padding: 10px 2px;
  border-radius: 10px;
  border: 2px solid red;
}

.notificationSuccessful {
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid green;
}

.notification {
  background-color: gray;
}

.remove-button {
  background-color: rgba(204, 175, 170, 0.408);
  padding: 2px 8px;
  border: none;
  border-radius: 10px;
  margin: 1em;
  height: 28px;
}
